
		@media (max-width: 300px) {
			#logo1 {
				display: none;
			}

			#logo2 {
				display: block;
			}
		}

		body{
			background-image: url("/images/Image_background.png");
		}

		#page {
			margin: 0 10% 0 10%;
			/*border: solid blue 10px;*/
			height: 100%;
		}

		.logo-container {
			background-image: linear-gradient(180deg, white, #CECECE);
			height: 227px;
			padding: 3% 10% 0 10%;
		}

		.jumbotron.mb-0 {
			position: absolute;
			width: 80%;
			height: 20%;
			left: 10%;
			right: 10%;
			top: 160px;
			color: white;
			display: inline-flex;
			align-content: space-around;
			justify-content: flex-start;
		}

		#logo2 {
			display: none;
		}

		button.btn.btn-success {
			width: 15%;
			height: 40%;
		}

		.col1 {
			color: GREY;
		}

		.col2 {
			font-weight: bold;
		}

		.menu {
			color: black;
			font-weight: bolder;
			font-size: 25px;
			align-self: center;
			padding: 0 20px 0 20px;
			color: grey;
			
		}

		.vl {
			border-left: 2px solid lightgrey;
			height: 80px;
		}
