<html>
	<meta charset="utf-8"/>
	<head th:replace="~{templates :: head}">
	<body>
		<div th:replace="~{templates :: logo}"></div>
		
		<div class="container">
		
		<div th:replace="~{templates :: titulo('Editar Pedido')}"></div>
			<form th:action="@{/admin/pedido/editarPedido}" method="POST" modelAttribute="obj">
				
				<select name="status" class="form-select">
  					<option th:field="*{obj.status}" th:value="${obj.status}" selected>Selecione o status do conserto</option>
  					<option th:value="'AGUARDANDO'" th:text="Aguardando"></option>
  					<option th:value="'CONSERTANDO'" th:text="Consertando"></option>
  					<option th:value="'FINALIZADO'" th:text="Finalizado"></option>
  					<option th:value="'ENTREGUE'" th:text="Entregue"></option>
				</select>
				
				<div class="mb-3">
    				<label for="descricao" class="form-label">Descrição do conserto</label>
    				<textarea th:field="*{obj.descricao}" th:value="${obj.descricao}" class="form-control" rows="3"></textarea>
  				</div>
  				
  				<input type="hidden" th:field=${obj.idConserto} th:value="${obj.idConserto}"/>
  				
  				<button class="btn btn-primary mt-3" type="submit">Confirmar</button>
			</form>
		</div>
	</body>
</html>