<html>
	<meta charset="utf-8"/>
	<head th:replace="~{templates :: head}">
	<body>
		<div th:replace="~{templates :: logo}"></div>
		
		<div class="container">
		
		<div th:replace="~{templates :: titulo('Buscar usuários')}"></div>
			
			<div class="card mb-3">
				<form class="card-body" th:action="@{/usuario/buscarUsuario}" method="GET">
					<div class="form-group">
						<label for="cpf">CPF</label>
						<input th:name="cpf" class="form-control" placeholder="CPF do usuário"/>
						<small>CPF do usuário</small>
					</div>
					
					<button class="btn btn-primary mt-3" type="submit">Buscar</button>
				</form>
				
				<div th:if="${celulares != null}">
					<div class="card mb-3">
						<form th:action="@{/usuario/getCelular}" class="card-body" method="GET">
							<select class="form-select">
	  							<option selected>Selecione um celular</option>
	  							<option th:each="item : ${celulares}" th:name="idCelular" th:value="${item.idCelular}" th:text="${item.marca + ' - ' + item.modelo}"></option>
							</select>
						</form>
					</div>
						
					<button class="btn btn-primary mt-3" type="submit">Enviar</button>
				</div>
			</div>
		</div>
	</body>
</html>