<html>
	<meta charset="utf-8"/>
	<head th:replace="~{templates :: head}">
	</head>
	
	<body>
		<div th:replace="~{templates :: logo}"></div>
		
		<div class="container">
					
			<div th:replace="~{templates :: titulo('Pedidos')}"></div>
		
			<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
				<div class ="navbar-nav">
					<a th:classappend="${status} == null ? active" class="nav-item nav-link" th:href="@{/admin/pedido}">Todos</a>
					<a th:classappend="${status} == 'aguardando' ? active" class="nav-item nav-link" th:href="@{/admin/pedido/aguardando}">Aguardando</a>
					<a th:classappend="${status} == 'consertando' ? active" class="nav-item nav-link" th:href="@{/admin/pedido/consertando}">Consertando</a>
					<a th:classappend="${status} == 'finalizado' ? active" class="nav-item nav-link" th:href="@{/admin/pedido/finalizado}">Finalizado</a>
					<a th:classappend="${status} == 'entregue' ? active" class="nav-item nav-link" th:href="@{/admin/pedido/entregue}">Entregue</a>
				</div>
			</nav>
		
			<div class="card mb-3" th:each="pedido : ${pedidos}">
				
				<th:block th:switch="${pedido.status}">
					<div th:case="'Aguardando'" class="card-header alert-warning" th:text="${pedido.marca} + ' - ' + ${pedido.modelo}">Nome do produto</div>
					<div th:case="'Consertando'" class="card-header alert-primary" th:text="${pedido.marca} + ' - ' + ${pedido.modelo}">Nome do produto</div>
					<div th:case="'Finalizado'" class="card-header alert-success" th:text="${pedido.marca} + ' - ' + ${pedido.modelo}">Nome do produto</div>
					<div th:case="'Entregue'" class="card-header alert-dark" th:text="${pedido.marca} + ' - ' + ${pedido.modelo}">Nome do produto</div>
				</th:block>
				
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">
							<div>Data de entrada: <span th:text="${#temporals.format(pedido.dataEntrada, 'dd/MM/yyyy')}">10/02/2020</span></div>
							
							<div>Descrição <span th:text="${pedido.descricaoConserto}">Descricao</span></div>
						</div>
					</div>
				</div>
				<a th:href="@{/admin/pedido/editarPedido/${pedido.idConserto}}"><button class="btn btn-outline-secondary my-2 my-sm-0">Editar</button></a>
				<a th:href="@{/admin/pedido/excluirPedido/${pedido.idConserto}}"><button class="btn btn-outline-secondary my-2 my-sm-0">Excluir</button></a>
			</div>
		</div>
	</body>
</html>